<template>
  <h1>aurelia-form demo</h1>
  <h3>aurelia-form</h3>
  <aurelia-form entity.bind="user" valid.delegate="submit()">
    <form-group name="email"
                label="Email"
                value.bind="user.email"></form-group>
    <form-group name="password"
                type="password"
                label="Password"
                value.bind="user.password"></form-group>

    <form-group behavior="inline"
                label="My textbox"
                element="input"
                value="One"
                name="textbox">
    </form-group>

    <form-group behavior="horizontal"
                label="My select"
                element="select"
                value="Two"
                name="selector"
                select-options.bind="[{name: 'One'}, {name: 'Two'}]"
                option-label="name"
                message="Select a number"
                state="error">
    </form-group>

    <form-group label="My textbox"
                element="custom-longtext"
                value="Et harum quidem rerum facilis est et expedita distinctio."
                name="textbox">
    </form-group>

  </aurelia-form>

  <h3>entity-form</h3>
  <entity-form entity.bind="person" valid.delegate="submit()">
  </entity-form>

</template>
